# system
.env
.DS_Store

# yarn
node_modules
yarn-error.log

# jest
.jest-test-results.json
coverage

# parceljs
.deps
.cache
dist

# circleci
config.local.yml

# app-specific
configuration/credentials.yml
