# system
.env
.DS_Store
.artifacts

# brew
Brewfile.lock.json

# yarn
node_modules
yarn-error.log

# jest
.jest-test-results.json
coverage

# parceljs
.cache

# circleci
config.local.yml

# app-specific
configuration/credentials.yml
